{% extends 'base.html.twig' %}

{% block body %}
<div class="container title">
    <h4>Edit profile</h4>
</div>
<div class="container" >
{% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
        <div class="alert alert-{{ type }}">
            {{ message|raw }}
        </div>
    {% endfor %}
{% endfor %}

    <div class="well">
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.firstName) }}
            {{ form_row(form.email) }}
        {{ form_end(form) }}
        <a href="{{ path('site_index') }}" class="btn btn-primary">Back</a>
    </div>
</div>
{% endblock %}