{% extends 'base.html.twig' %}
{% block body %}

<div class="container title">
    <h4>Profile</h4>
</div>
<div class ="container">
{% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        {% if type == 'error'%} {% set type = 'danger' %} {% endif %}
        <div class="alert alert-{{ type }}">
            {{ message|raw }}
        </div>
    {% endfor %}
{% endfor %}


    <div class=" table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Name</th><td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>First name</th><td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Email</th><td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Creation date</th><td>{{ user.creationDate|date("d-m-Y") }}</td>
            </tr>        
        </table>
    </div>
    <div class="button-changePasswod-editProfile">
        
        <a id="editProfile" href="{{path('edit_profile', {id:user.id})}}" class="btn btn-primary">Edit profile</a>
        <a href="{{ path('site_index') }}" class="btn btn-primary">Back</a>
    </div>
</div>
{% endblock %}
