{% extends 'base.html.twig' %}

{% block title %}Edit Site{% endblock %}

{% block body %}
<div class="container">
        <div class="title">
            <h3>Edit Site</h3>
        </div>
    {% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
        <div class="alert alert-{{ type }}">
            {{ message|raw }}
        </div>
    {% endfor %}
    {% endfor %}
    {{ include('site/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-primary btt" href="{{ path('site_index') }}">back to list</a>

    {{ include('site/_delete_form.html.twig') }}
</div>
{% endblock %}
