{% extends 'base.html.twig' %}

{% block title %}Site index{% endblock %}

{% block body %}
<div class="container" style="margin-top:2em">
    {% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
        <div class="alert alert-{{ type }}">
            {{ message|raw }}
        </div>
    {% endfor %}
    {% endfor %}
    <div class="title">
        <h3>List of your web sites</h3>
    </div>
        <table class="table table-striped table-bordered table-hover"style="width:100%" id="sitetable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>LabelSite</th>
                    <th>Url</th>
                    <th>Status</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for site in sites %}
                <tr>
                    <td>{{ site.id }}</td>
                    <td>{{ site.labelSite }}</td>
                    <td>{{ site.url }}</td>
                    <td>{{ site.status }}</td>
                    <td>
                        <a href="{{ path('site_show', {'id': site.id}) }}" class="fa fa-eye"></a>
                        <a href="{{ path('site_edit', {'id': site.id}) }}" class="fa fa-pencil" ></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-primary btt"  href="{{ path('site_new') }}">Create new</a>
        <a href="{{ path('mailer') }}" class="btn btn-primary btt">Check my websites</a>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
$(document).ready(function() {
var dataTable = $('#sitetable').DataTable({
    dom: 'Bfrtip',
    searching: true,
    pagingType: 'full_numbers',
    language: {
        lengthMenu : "Afficher _MENU_ entrées",
        zeroRecords : "Aucun résultat trouvé",
        info: "Afficher la page _PAGE_ sur _PAGES_",
        infoEmpty: "",
        infoFiltered: "(filtré de _MAX_ total records)",
        buttons: {
            pageLength: ' Afficher %d'
        }
    },
    lengthMenu: [[ 6, 12, 18, -1], [6, 12, 18, "All"]],
    buttons: [
        {
            extend: "pageLength",
            className: "fa fa-arrows-v",
        }]
});
});
</script>
{% endblock %}
