{% extends 'base.html.twig' %}

{% block title %}Site{% endblock %}

{% block body %}
    <div class="container">
    <div class="title">
        <h3>Site</h3>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ site.id }}</td>
            </tr>
            <tr>
                <th>LabelSite</th>
                <td>{{ site.labelSite }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ site.url }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ site.status }}</td>
            </tr>
        </tbody>
    </table>

    <a  class="btn btn-primary btt"  href="{{ path('site_index') }}">back to list</a>

    <a  class="btn btn-primary btt"  href="{{ path('site_edit', {'id': site.id}) }}">edit</a>

    {{ include('site/_delete_form.html.twig') }}
</div>
{% endblock %}
