
{% extends 'base.html.twig' %}

{% block title %}registration{% endblock %}

{% block body %}
<div class="container">
    <div class="title"style="padding-top: 2em;text-align: center;" >
        <h3>Registration</h3>
    </div>
    {{ form(form) }}
    <a class="btn btn-primary " <a href="{{ path('site_index') }}">
        Back
    </a>
</div>
{% endblock %}
