@import "~bootstrap";

.login {
  padding:3em;
  margin:3em auto;
  max-width: 35em; 
  border-style:solid; 
  border-color: #e4eeee;
}

.sagninButton {
    margin-top: 1em;
}

.title{
    padding-top: 2em;
    text-align: center;

}

.btt {
  margin-bottom: 1em;
}
