<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" 
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" 
            integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" 
            crossorigin="anonymous">
            <link  rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
            <link  rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
        {% endblock %}
    </head>
    <body>
            <header>
                {% if app.user %}
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item ">
                            <a class="nav-link" href="{{ path('site_index') }}">
                                <span class="sr-only"></span>
                                <i aria-hidden="true" class="fa fa-home"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="dropdown show">
                            <a aria-expanded="false" aria-haspopup="true" class="btn dropdown-toggle" data-toggle="dropdown" href="#" id="dropdownMenuLink" role="button" style="color:white; margin-right:2.5em">
                                {{ app.user.nameFirstName }}
                             </a>
                            <div aria-labelledby="dropdownMenuLink" class="dropdown-menu">
                                <a class="dropdown-item" href = "{{ path('profile')}}">Profil</a>
                                <a class="dropdown-item" id="logout-user" href="{{ path('app_logout')}}">Deconnexion</a>
                            </div>
                        </div>
                </nav>
                {% endif %}
            </header>
            {% block body %}{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js">
            </script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
                    integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" 
                    crossorigin="anonymous">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" type="text/javascript"></script>
            <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
        {% endblock %}
    </body>
</html>
